footer {
    padding: 129px 0 130px 244px;
    background: #414042;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -20px;

    .footer-title {
        width: 100%;

        .title-item {
            display: flex;

            .title-item-link {
                width: 138px;
                border-bottom: 4px solid #FFFFFF;
                margin-right: 82px;
                list-style: none;
                font-size: 18px;
                padding: 30px 0 0 24px;
                letter-spacing: 2.8px;
                line-height: 38px;
                color: #ffffff;
                cursor: pointer;
            }

            .link-one {
                width: 117px;
                padding: 28px 0 0 20px;;
            }
            .link-tow {
                width: 61px;
                padding: 29px 0 0 11px;
            }
            .link-three {
                width: 66px;
                padding: 29px 0 0 10px;
                line-height: 38px;
            }
        }

    }
    .footer-logo {
        width: 50%;
        height: 93px;
        position: relative;
        left: 0;
        top: 21px;
        background-color: #EA572A;  
        a {
            display: block;
            width: 179px;
            margin: 24px 0 30px 35px;

            img {
                width: 100%;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
        padding: 0;

        .footer-title {
            .title-item {
                flex-direction: column;

                .title-item-link {
                    width: 135px;
                    margin: auto;
                }
                .link-one {
                    width: 120px;
                }
                .link-tow {
                    width: 60px;
                }
                .link-three {
                    width: 55px;
                }
            }
        }

        .footer-logo {
            margin-bottom: 50px;
            width: 250px;
        }
    }
}