header {
    background-color: #7853A2;
    display: flex;
    align-items: center;

    .header-menu {
        display: flex;
        list-style: none;
        // padding-left: 0;

        .active {
            background-color: #9072b3;
        }

        .active::after {
            content: "";
            position: absolute;
            top: 84px;
            left: 6.38%;
            height: 4px;
            width: 161.73px;
            background: #E5E0F0;
        }

        .pricing {
            margin-left: -55px;
        }

        .header-menu-item {
            width: 366px;
            height: 130px;

           .item-were {
            padding-left: 8px;
           }

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 18px;
                letter-spacing: 2.7px;
                line-height: 18px;
                color: #E5E0F0;
                padding-bottom: 2px;
                // width: -moz-fit-content;
                width: fit-content;
                margin: 55px auto 52px auto;
                padding-left: 4px;
            }
        }
    }

    .button-header-hambuger {
        display: none;
    }

    .header-logo {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        margin-right: 66px;
        margin-top: 8px;

        .header-logo-icon {
            padding-right: 11px;

            a {
                i::after {
                    content: "";
                    position: absolute;
                    width: 20px;
                    height: 4px;
                    background: #FFFFFF;
                    top: 25px;
                    left: 0px; 
                }
            }
        }
    }

    a {
        margin: 0 16px;

        i {
            color: #E5E0F0;
            position: relative;
        }
    }
    
    .img-logo {
        padding-top: 4px;
        margin-right: -8px;
        padding-right: 3%;
    }
}


@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden; 


        .wrapper {
            min-width: 100%;

            header {
                position: fixed;
                z-index: 10;
                width: 100%;

                .header-navbar {
                    .header-menu {
                        display: none;
                    }

                    button {
                        display: block;
                        position: absolute;
                        right: 20px;
                        top: 17px;
                        font-size: 26px;
                        color: #ffffff;
                        background: #7853A2;
                        border: none;
                    }
                }

                .header-logo {
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    padding-bottom: 10px;
                    padding-right: 10%;
                    margin-right: 0;

                    .header-logo-icon {
                        display: flex;
                        padding-right: 0;
                        margin-top: -9px;
                    }
                }
            }
        }
    }
}