.section8 {
    
    height: 100%; 
    background: #E6E1F0;
    position: relative;
    padding: 40px;
    margin-top: -4px;

    .section8-container {
        background-image: url('/img/Layer\ 20.png');
        height: 100%;
        background-position-y: -20px;
        background-position-x: -36PX;
        padding: 174px 0 141px 0px;

        .section8-conten {
            width: 919px;
            display: flex;
            position: relative;
            margin: 0 auto;

            .section8-conten-item {
                width: 431px;
                height: 572px;
                background: #7853A2;
                margin-left: 2px;
                color: #ffffff;

                h3 {
                    font-size: 48px;
                    font-weight: 500;
                    padding: 32px 0 0 35px;
                    letter-spacing: 4.7px;
                }

                p {
                    font-size: 16px;
                    font-family: "Roboto Condensed", sans-serif;
                    padding: 30px 0 0 33.5px;
                    line-height: 28px;
                }

                a {
                    font-size: 32px;
                    text-decoration: none;
                    color: #ffffff;
                    font-family: 'roboto-condensed-bold', sans-serif;

                    i {
                        padding: 40px 0 0 23px;
                    }
                }

                ul {
                    display: flex;
                    list-style: none;
                    padding: 47px 0 0 31px;

                    li {
                        margin-right: 20px;
                        cursor: pointer;
                    }
                }

                div {
                    font-size: 32px;
                    font-family: "Roboto Condensed", sans-serif;
                    padding: 6px 0 0 9px;

                    a {
                        text-decoration: none;

                        i {
                            padding: 42px 0 0 23px;
                        }
                    }
                }
            }
            .section8-conten-input {
                height: 507px;
                width: 482px;
                background: #414042;
                padding: 33.2px 33px 31.7px 36px;
                display: flex;
                flex-direction: column;

                h3 {
                    font-size: 48px;
                    font-weight: 500;
                    line-height: 57.6px;
                    color: #FFFFFF;
                    margin-bottom: 38.3px;
                    margin-left: -2px;
                    letter-spacing: 4.8px;
                    margin-top: -2px;
                }

                .my-name {
                    padding: 7px 0 0 18px;
                }
                input {
                    // width: 465px;
                    // height: 55px;
                    // color: #FFFFFF;
                    // background-color: #58595B;
                    // border: none;
                    // margin-bottom: 22px;
                    // font-size: 32px;
                    // font-family: "Built Titling";
                    // padding: 2px 0 0 18px;
                    // letter-spacing: 3.8px;
                    width: 465px;
                    height: 55px;
                    color: #FFFFFF;
                    background-color: #58595B;
                    border: none;
                    margin-bottom: 22px;
                    font-size: 32px;
                    font-family: "Built Titling";
                    padding: 3px 0 0 18px;
                    letter-spacing: 3.6px;
                }

                :-ms-input-placeholder { 
                    color: #ffffff;    
                }	  
                ::-ms-input-placeholder { 
                    color: #ffffff;   
                }

                ::placeholder { 
                    color: #ffffff;    
                }    
            }

            textarea {
                // font-family: "Built Titling";
                // height: 160px;
                // font-size: 32px;
                // padding: 11.8px 0 0 18.8px;
                // letter-spacing: 3.2px;
                // color: #FFFFFF;
                // border: none;
                // background-color: #58595B;
                // margin-top: -1px;   
                font-family: "Built Titling";
                height: 158px;
                font-size: 32px;
                padding: 11px 0 0 18.8px;
                letter-spacing: 3.2px;
                color: #FFFFFF;
                border: none;
                background-color: #58595B;
                margin-top: -3px;
            }

            button {
                // font-family: "Built Titling";
                // width: 240px;
                // height: 59px;
                // background: #EA572A;
                // color: #FFFFFF;
                // font-size: 32px;
                // letter-spacing: 3px;
                // margin: 17px 0 7.7px -1px;
                // padding-left: 4px;
                // border: none;
                // cursor: pointer;
                font-family: "Built Titling";
                width: 240px;
                height: 59px;
                background: #EA572A;
                color: #FFFFFF;
                font-size: 32px;
                letter-spacing: 3px;
                margin: 17px 0 7.7px -1px;
                padding-left: 4px;
                border: none;
                cursor: pointer;
            }

            button:hover {
                box-shadow: 0 12px 16px 0 rgba(129, 126, 126, 0.384),0 17px 50px 0 rgba(141, 138, 138, 0.19);
            }
        }
    }
}



@media screen and (max-width: 768px) {
    .section8 {
        padding: 40px 10px;
        .section8-container {
            padding:  0;

            .section8-conten {
                width: 100%;
                flex-direction: column;

                .section8-conten-item {
                    width: 100%;
                    height: auto;
                    margin-left: 0;
                    padding-bottom: 30px;

                    h3 {
                        text-align: center;
                        padding-left: 0;
                    }

                    p {
                        text-align: center;
                        padding-left: 0;
                        padding: 20px 20px 0 20px;
                    }

                    ul {
                        flex-wrap: wrap;
                    }
                }
                .section8-conten-input {
                    width: 100%;
                    padding: 0;

                    h3 {
                        width: 100%;
                        text-align: center;
                        padding-top: 30px;
                    }

                    input {
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 10px;
                    }

                    textarea {
                        width: 80%;
                        margin: 0 auto;
                        margin-bottom: 20px;
                    }

                    button {
                        width: 40%;
                        margin:  0 auto;
                        margin-bottom: 40px;
                    }
                }
            }
        }
    }
}