.section6 {
    position: relative;

    .section6-conten {
        position: relative;
        background: #EA572A;
        width: 72.9%;
        margin-top: 11px;
        padding-bottom: 14.6%;


        h3 {
            font-size: 96px;
            font-weight: 500;
            color: #ffffff;
            padding: 172px 0 0 244px;
            width: 336px;
            letter-spacing: 9.8px;
        }

        form {
            flex-direction: column;
            display: flex;
            margin-top: 39px;
            padding-left: 241px;

            input {
                width: 427px;
                height: 56px;
                font-size: 32px;
                font-family: "Built Titling";
                margin-bottom: 9px;
                /* margin: 8px 0; */
                padding-left: 17px;
                padding-top: 4px;
                margin: 2px 0 13px 3px;
                /* margin-right: 1px; */
                letter-spacing: 3.2px;
                border: none;
                color: black;
            }

            button {
                cursor: pointer;
                height: 59px;
                width: 240px;
                margin: 6px 0 0 3px;
                font-size: 32px;
                padding: 3px 0 0 3px;
                letter-spacing: 3px;
                font-family: "Built Titling";
                /* line-height: 3px; */
                background: #414042;
                color: #ffffff;
                border: none;
            }
        }

        .section6-img {
            position: absolute;
            right: -255px;
            top: 100px;

            img {
                width: 100%;
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .section6 {
        width: 100%;

        .section6-conten {
            width: 100%;
            margin-top: 0;
            padding-bottom: 0;

            h3 {
                width: 100%;
                padding: 0;
                padding-top: 40px;
                text-align: center;
            }
            form {
                padding-left: 0;
                input {
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 20px;
                }

                button {
                    width: 35%;
                    margin: 0 auto;
                }
            }

            

            .section6-img {
                position: initial;
                padding: 20px;
            }
        }
    }
}