.section3 {
    background: #E6E1F0;
    height: 100%;
    padding: 38px 0 43px;
    position: relative;
    margin-top: -9px;

    .section3-container {
        background: #FFFFFF;
        display: flex;
        max-width: 1520px;
        margin: 0 auto;

        .section3-conten {
            width: 50%;
            padding-top: 207px;
            padding-left: 206.4px;

            .section3-conten-blog {
                font-size: 32px;
                font-weight: 600;
                font-style: italic;
                letter-spacing: 5px;
                // padding: 10px 0 0 0;
                margin-top: -3px;
            }

            h3 {
                font-size: 53.88px;
                font-weight: 500;
                color: #7853A2;
                width: 204px;
                letter-spacing: 5.5px;
                padding: 69px 0 0 0px;

            }

            .section3-conten-p {
                font-size: 16px;
                font-family: "Roboto Condensed", sans-serif;
                width: 447px;
                line-height: 28px;
                margin: 16px 0 0 -1px;
            }
            

            
        }

        .section3-img img{
            width: 762px;
            height: 886px;
            vertical-align: middle;
        }
    }
}

@media screen and (max-width: 768px) {
    .section3 {
        padding: 16px;

        .section3-container {
            width: 100%;
            flex-direction: column;

            .section3-conten {
                width: 100%;
                text-align: center;
                padding: 0;


                .section3-conten-blog {
                    padding-top: 50px;
                }

                h3 {
                    width: 100%;
                    padding-top: 20px;
                }

                .section3-conten-p {
                    width: 90%;
                    padding-left: 5%;
                }
            }

            .section3-img img{
                width: 100%;
                height: 100%;
                padding-top: 10px;
            }
        }
    }
}
