.section1 {
    display: flex;
    justify-content: space-around;
    background: #7853A2;
    height: auto;
    padding: 151px 90px 122px 80px;
    margin: 0 auto;
    position: relative;
    top: -1px;

    .section1-conten {
        left: 8.5%;
        width: 50%;
        position: relative;
        padding-top: 9px;

        .section1-title {
            text-transform: uppercase;
            font-size: 54px;
            font-weight: 400;
            width: 214px;
            height: auto;
            color: #FFFFFF;
            position: relative;
            z-index: 2;
            letter-spacing: 5.4px;
            line-height: 64.66px;
            padding-left: 2px;
            margin-top: 1px;
        }

        .section1-describe {
            // width: 311px;
            // height: 140px;
            // position: absolute;
            // line-height: 28px;
            // padding: 30px 32px 30.4px 46px;
            // left: 185px;
            // top: 176px;
            // color: #ffffff;
            // background-color: #BA4693;
            // font-family: "Roboto Condensed", sans-serif;
            width: 311px;
            height: 140px;
            position: absolute;
            line-height: 28px;
            padding: 27px 32px 30.4px 46px;
            left: 185px;
            top: 176px;
            color: #ffffff;
            background-color: #BA4693;
            font-family: "Roboto Condensed", sans-serif;
        }

        .section1-bottom {
            position: absolute;
            display: flex;
            bottom: -5.9%;
            width: 100%;
            justify-content: space-between;
            left: -17.4%;

            a {
                color: #EA572A;
                text-decoration: none;
                border-bottom: #ffffff solid 2px;
                font-size: 30px;
                

                span {
                    color: #ffffff;
                    font-size: 26px;
                    letter-spacing: 3px;
                }

                .fa-angle-down {
                    color: #ffffff;
                }
            }
        }
        
    }

    .section1-img {
        position: relative;
        top: 25px;
        right: 1.3%;
    }

    .section1-conten::after {
        content: "";
        position: absolute;
        z-index: 1;
        // top: -13px;
        top: -3px;
        left: -4%;
        height: 1061px;
        width: 2px;
        background: #E5E0F0;
    }
}


@media screen and (max-width: 768px) {
    .section1 {
        flex-direction: column;
        height: 1005;
        padding: 140px 16px;


        .section1-conten {
            position: initial;
            width: 100%;

            .section1-title {
                text-align: center;
                height: auto;
                width: 100%;
            }

            .section1-describe {
                width: 80%;
                height: auto;
                position: initial;
                margin: 0 auto;
                padding-left: 35px;
            }

            .section1-bottom {
                bottom: 20px;
                left: 0;
                width: 80%;
                padding-left: 10%;
            }
        }
        .section1-img {
            left: 0;

            img {
                width: 100%;
            }
        }
    }
}