.section4 {
    position: relative;

    .section4-img {
        position: relative;

        .section4-img-title {
            width: 100%;
            height: 100%;
        }

        .section4-img-click {
            position: absolute;
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            top: 480px;
            padding: 0 156px 0 89px;
        }

    }

    .section4-conten {
        display: flex;
        background: #9277B5;
        color: #FFFFFF;
        position: relative;
        top: -62px;
        height: 275px;

        .section4-conten-item {
            padding: 72px 208px 52px 245px;
            width: 28.7%;

            div {
                font-size: 16px;
                font-weight: 600;
                font-style: italic;
                letter-spacing: 2.4px;
                margin-top: -3px;
            }

            h3 {
                font-size: 53.88px;
                font-weight: 500;
                letter-spacing: 5.3px;
                padding-top: 6px;
            }

            p {
                font-size: 16px;
                width: 446.37px;
                letter-spacing: px;
                line-height: 28px;
                padding: 9px 0 0 0;
                font-family: "Roboto Condensed", sans-serif;
            }

        }

        .section4-conten-link {
            display: flex;
            align-items: center;

            .calendar {
                background: #7853A2;
                height: 100%;
                width: 257px;
                display: flex;
                flex-direction: column;
                align-items: center;

                i {
                    font-size: 87.28px;
                    padding-top: 72px;
                }

                span {
                    font-size: 32px;
                    letter-spacing: 3px;
                    padding-top: 26px;
                }
            }

            .mappin {
                display: flex;
                margin-left: 49.3px;
                margin-top: 40px;

                i {
                    font-size: 32px;
                }

                h3 {
                    font-size: 32px;
                    font-weight: 500;
                    padding: 0px 0 0 15px;
                    letter-spacing: 3.2px;
                }

                p {
                    font-size: 16px;
                    font-family: "Roboto Condensed", sans-serif;
                    /* letter-spacing: 0px; */
                    padding: 6px 0 0 18px;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .section4 {
        position: relative;

        .section4-img {
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }

            .section4-img-click {
                top: 40%;
                padding: 0;
                padding-left: 5%;

                img {
                    width: 40px;
                }
            }
        }

        .section4-conten {
            flex-direction: column;
            height: 100%;
            top:-5px;

            .section4-conten-item {
                padding: 20px;
                width: 100%;

                p {
                    width: 90%;
                }
            }
            .section4-conten-link {
                .calendar {
                    width: 50%;
                    i {
                        padding-top: 15px;
                    }
                }
            }
        }
    }
}