.section7 {
    background-image: url('/img/Layer\ 17.png');
    height: 969px;
    background-size: cover;
    position: relative;
    margin-top: -6px;
    background-position-x: -7px;

    .section7-container {
        color: #ffffff;
        padding: 156px 0 0 242px;
        width: 445px;

        .section7-container-conten {
            background: #414042;
            height: 301px;
            padding: 40px 0 0 45px;

            .expert {
                // font-size: 16px;
                // font-weight: 600;
                // font-style: italic;
                // color: #EA572A;
                // letter-spacing: 2.4px;
                // margin-top: -2px;
                font-size: 16px;
                font-weight: 600;
                font-style: italic;
                color: #EA572A;
                letter-spacing: 2.4px;
                margin-top: -1px;
            }

            h3 {
                font-size: 53.88px;
                font-weight: 500;
                letter-spacing: 5.3px;
            }

            p {
                // font-size: 16px;
                // font-family: "Roboto Condensed", sans-serif;
                // line-height: 23px;
                // padding-right: 20px;
                // margin:  0 0 0 -1px;
                font-size: 16px;
                font-family: "Roboto Condensed", sans-serif;
                line-height: 21px;
                padding-right: 20px;
                margin: -2px 0 0 -1px;
            }

            .p-tow {
                // margin-top: -4px;
                margin-top: -3px;
            }

            img {
                // margin-top: 22px;
                margin-top: 31px;
            }
        }

        .section7-container-title {
            display: flex;
            margin-top: -2px;

            .section7-container-title-item {
                width: 253px;
                height: 338px;
                background: #3994D1;

                .staff {
                    font-size: 16px;
                    font-weight: 700;
                    font-style: italic;
                    padding: 32px 0 0 46px;
                    letter-spacing: 1.6px;
                }
                p {
                    font-size: 32px;
                    padding: 16px 0 0 45px;
                    width: 157px;
                    letter-spacing: 3.3px;
                    line-height: 39px;

                }
            }

            .section7-container-title-link {
                width: 193px;

                .bullhorn {
                    height: 77.99px;
                    font-size: 32px;
                    background: #7853A2;
                    padding: 33px 0 0 79px;
                    cursor: pointer;
                }

                .flask {
                    height: 77.99px;
                    font-size: 32px;
                    background: #EA572A;
                    padding: 33px 0 0 79px;
                    cursor: pointer;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .section7 {
        background-position: 50% 50%;
        height: 100%;

        .section7-container {
            padding: 0;
            width: 80%;
            margin: 0 auto;
            padding-top: 20%;
            padding-bottom: 20%;


            .section7-container-conten {
                height: auto;
            }

            .section7-container-title {
                width: 100%;
                flex-direction: column;

                .section7-container-title-item {
                    width: 100%;
                    height: 100%;

                    .staff {
                        padding-left: 0;
                        width: 100%;
                        text-align: center;
                    }

                    p {
                        width: 100%;
                        padding-left: 0;
                        text-align: center;
                    }
                }
                .section7-container-title-link {
                    width: 100%;
                    display: flex;
                    

                    .bullhorn {
                        width: 50%;
                        padding: 0; 
                    }

                    .flask {
                        width: 50%;
                        padding: 0;
                    }

                    i {
                        padding: 10% 50%;
                    }
                }
            }
        }
    }
}