.section5 {
    display: flex;
    padding: 120px 152px 123px 246px;

    .section5-conten {
        width: 50%;

        h3 {
            font-size: 53.88px;
            font-weight: 500;
            letter-spacing: 5.4px;
            line-height: 66px;
            margin: 0px 0 0 -1px;
            color: #EA572A;
        }

        .section5-conten-p {
            font-size: 16px;
            width: 445.25px;
            line-height: 28px;
            margin: 40px 0 0 -2px;
            /* letter-spacing: 0px; */
            font-family: "Roboto Condensed", sans-serif;

        }

        ul {
            padding: 48px 0 0 0;
            list-style: none;
            i {
                color: #EA572A;
            }

            .one {
                display: flex;

                i {
                    font-size: 32px;
                }

                div {
                    padding-left: 32px;
                    margin-top: -1px;
                    span {
                        font-size: 32px;
                        letter-spacing: 3.1px;
                    }
    
                    p {
                        font-size: 16px;
                        font-family: "Roboto Condensed", sans-serif;
                        padding: 2px 0 0 3px;
    
                    }
                }
            }
            .tow {
                display: flex;
                padding-top: 1px;

                i {
                    font-size: 32px;
                }

                div {
                    padding: 4px 0 0 40px;
                    span {
                        font-size: 32px;
                        letter-spacing: 3.1px;
                    }
    
                    p {
                        font-size: 16px;
                        font-family: "Roboto Condensed", sans-serif;
                        padding: 2px 0 0 3px;
    
                    }
                }
            }

            .three {
                display: flex;

                i {
                    font-size: 32px;
                }

                div {
                    padding-left: 32px;
                    margin-top: 5px;
                    span {
                        font-size: 32px;
                        letter-spacing: 3.1px;
                    }
    
                    p {
                        font-size: 16px;
                        font-family: "Roboto Condensed", sans-serif;
                        padding: 2px 0 0 3px;
    
                    }
                }
            }

            .for {
                display: flex;
                padding-top: 1px;

                i {
                    font-size: 32px;
                }

                div {
                    padding-left: 28px;
                    margin-top: 3px;
                    span {
                        font-size: 32px;
                        letter-spacing: 3.1px;
                    }
    
                    p {
                        font-size: 16px;
                        font-family: "Roboto Condensed", sans-serif;
                        padding: 2px 0 0 3px;
    
                    }
                }
            }
        }
    }

    .section5-img{
        width: 55%;
        position: relative;
        top: 7px;

        img {
            width: 633px;
            height: 645px;
        }
    }
}


@media screen and (max-width: 768px) {
    .section5 {
        width: 100%;
        padding: 0;
        flex-direction: column;
        padding-top: 50px;

        .section5-conten {
            width: 100%;

            h3 {
                text-align: center;
            }

            .section5-conten-p {
                width: 90%;
                padding-left: 5%;
                text-align: center;
            }

            ul {
                padding-left: 20%;
                padding-right: 19%;
            }
        }

        .section5-img {
            width: 90%;
            position: initial;
            padding: 60px 0;
            padding-left: 5%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}