header {
  background-color: #7853A2;
  display: flex;
  align-items: center;
}
header .header-menu {
  display: flex;
  list-style: none;
}
header .header-menu .active {
  background-color: #9072b3;
}
header .header-menu .active::after {
  content: "";
  position: absolute;
  top: 84px;
  left: 6.38%;
  height: 4px;
  width: 161.73px;
  background: #E5E0F0;
}
header .header-menu .pricing {
  margin-left: -55px;
}
header .header-menu .header-menu-item {
  width: 366px;
  height: 132px;
}
header .header-menu .header-menu-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2.7px;
  line-height: 18px;
  color: #E5E0F0;
  padding-bottom: 2px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 55px auto 52px auto;
  padding-left: 6px;
}
header .button-header-hambuger {
  display: none;
}
header .header-logo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin-right: 66px;
  margin-top: 8px;
}
header .header-logo .header-logo-icon {
  padding-right: 11px;
}
header a {
  margin: 0 16px;
}
header a i {
  color: #E5E0F0;
  position: relative;
}
header a img {
  padding-top: 4px;
  margin-right: -8px;
}

.section1 {
  display: flex;
  justify-content: space-around;
  background: #7853A2;
  height: auto;
  padding: 161px 90px 122px 80px;
  margin: 0 auto;
  position: relative;
  top: -1px;
}
.section1 .section1-conten {
  left: 8.5%;
  width: 50%;
  position: relative;
}
.section1 .section1-conten .section1-title {
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 400;
  width: 214px;
  height: auto;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  letter-spacing: 5.7px;
  line-height: 64.66px;
}
.section1 .section1-conten .section1-describe {
  width: 313px;
  height: 142px;
  position: absolute;
  line-height: 28px;
  padding: 26px 32px 30.4px 46px;
  left: 185px;
  top: 168px;
  color: #ffffff;
  background-color: #BA4693;
  font-family: "Roboto Condensed", sans-serif;
}
.section1 .section1-conten .section1-bottom {
  position: absolute;
  display: flex;
  bottom: -3.9%;
  width: 100%;
  justify-content: space-between;
  left: -17.4%;
}
.section1 .section1-conten .section1-bottom a {
  color: #EA572A;
  text-decoration: none;
  border-bottom: #ffffff solid 2px;
  font-size: 30px;
}
.section1 .section1-conten .section1-bottom a span {
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 3px;
}
.section1 .section1-img {
  position: relative;
  top: 12px;
  right: 1.2%;
}
.section1 .section1-conten::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -13px;
  left: -4%;
  height: 1061px;
  width: 2px;
  background: #E5E0F0;
}

.section2 {
  display: flex;
  background: #3994D1;
  padding-top: -8px;
  margin-top: -2px;
  padding: 246px 0px 192px 248px;
}
.section2 .section2-conten {
  width: 50%;
}
.section2 .section2-conten h3 {
  font-size: 54px;
  font-weight: 500;
  width: 421px;
  color: #ffffff;
  letter-spacing: 5.3px;
}
.section2 .section2-conten p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  width: 445px;
  padding-top: 40.3px;
  line-height: 27px;
  color: #ffffff;
  margin-left: -2px;
}
.section2 .section2-conten button {
  width: 445px;
  height: 128.99px;
  background: #5DA7D9;
  border: none;
  margin-top: 110px;
  color: #ffffff;
  font-size: 18px;
  font-family: "Built Titling";
  letter-spacing: 2.8px;
  position: relative;
}
.section2 .section2-conten button::after {
  content: "";
  width: 185px;
  height: 3px;
  position: absolute;
  z-index: 1;
  right: 132px;
  top: 86px;
  background-color: #ffffff;
}
.section2 .section2-list {
  display: flex;
  position: relative;
  top: 2px;
  gap: 30px;
  left: 40px;
}
.section2 .section2-list .list-item {
  width: 255px;
  height: 458px;
}
.section2 .section2-list .list-item .list-item-img {
  display: block;
  height: 241px;
}
.section2 .section2-list .list-item .list-item-img img {
  width: 100%;
  height: 100%;
}
.section2 .section2-list .list-item a {
  text-decoration: none;
  color: initial;
}
.section2 .section2-list .list-item .list-item-conten {
  position: relative;
  top: 0;
  background: #FFFFFF;
  margin-top: -2px;
  height: 220px;
}
.section2 .section2-list .list-item .list-item-conten p {
  font-size: 16px;
  font-weight: 400;
  padding: 32.1px 0px 0 32.2px;
  letter-spacing: 1.4px;
}
.section2 .section2-list .list-item .list-item-conten h3 {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 700;
  font-style: italic;
  padding: 41px 70px 36px 34px;
}
.section2 .section2-list .list-item .list-item-conten .list-item-conten-next {
  position: absolute;
  top: 86%;
  right: 6%;
  color: #FFFFFF;
  width: auto;
}
.section2 .section2-list .list-item-tow {
  width: 255px;
  height: 458px;
  background: #7853A2;
}
.section2 .section2-list .list-item-tow .list-item-img img {
  padding: 97px 0 0 21px;
}
.section2 .section2-list .list-item-tow .list-item-conten p {
  padding: 82px 0 0 30px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1.6px;
}
.section2 .section2-list .list-item-tow .list-item-conten h3 {
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  padding: 39px 100px 0 32px;
  color: #ffffff;
}
.section2 .section2-list .list-item-tow .list-item-conten .list-item-conten-next img {
  padding: 45px 0 0 220px;
}
.section2 .section2-list .list-item-three {
  background-color: #EA572A;
  width: 255px;
  height: 458px;
}
.section2 .section2-list .list-item-three .list-item-conten p {
  padding: 26px 0px 15px 31px;
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #ffffff;
}
.section2 .section2-list .list-item-three .list-item-conten h3 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
  letter-spacing: 2.2px;
  padding: 26px 30px 0px 30px;
}
.section2 .section2-list .list-item-three .list-item-img img {
  padding-top: 81px;
}

.section3 {
  height: 100%;
}
.section3 .section3-container {
  border: #E6E1F0 solid 40px;
  display: flex;
}
.section3 .section3-container .section3-conten {
  width: 50%;
  padding-top: 207px;
  padding-left: 206.4px;
}
.section3 .section3-container .section3-conten .section3-conten-blog {
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 5px;
  margin-top: -3px;
}
.section3 .section3-container .section3-conten h3 {
  font-size: 53.88px;
  font-weight: 500;
  color: #7853A2;
  width: 204px;
  letter-spacing: 5.5px;
  padding: 67px 0 0 0px;
}
.section3 .section3-container .section3-conten .section3-conten-p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  width: 447px;
  line-height: 28px;
  padding: 17px 0 0 0px;
}
.section3 .section3-container .section3-img {
  vertical-align: middle;
}

.section4 {
  position: relative;
}
.section4 .section4-img {
  position: relative;
}
.section4 .section4-img .section4-img-title {
  width: 100%;
  height: 100%;
}
.section4 .section4-img .section4-img-click {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  top: 433px;
  padding: 0 156px 0 89px;
}
.section4 .section4-conten {
  display: flex;
  background: #9277B5;
  color: #FFFFFF;
  position: relative;
  top: -109px;
  height: 275px;
}
.section4 .section4-conten .section4-conten-item {
  padding: 72px 208px 52px 245px;
  width: 28.7%;
}
.section4 .section4-conten .section4-conten-item div {
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 3.6px;
  margin-top: -4px;
}
.section4 .section4-conten .section4-conten-item h3 {
  font-size: 53.88px;
  font-weight: 500;
  letter-spacing: 5.3px;
  padding-top: 7px;
}
.section4 .section4-conten .section4-conten-item p {
  font-size: 16px;
  width: 446.37px;
  letter-spacing: px;
  line-height: 27px;
  padding: 9px 0 0 0;
  font-family: "Roboto Condensed", sans-serif;
}
.section4 .section4-conten .section4-conten-link {
  display: flex;
  align-items: center;
}
.section4 .section4-conten .section4-conten-link .calendar {
  background: #7853A2;
  height: 100%;
  width: 257px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .section4-conten .section4-conten-link .calendar i {
  font-size: 87.28px;
  padding-top: 71px;
}
.section4 .section4-conten .section4-conten-link .calendar span {
  font-size: 32px;
  letter-spacing: 3px;
  padding-top: 26px;
}
.section4 .section4-conten .section4-conten-link .mappin {
  display: flex;
  margin-left: 49.3px;
  margin-top: 38px;
}
.section4 .section4-conten .section4-conten-link .mappin i {
  font-size: 32px;
}
.section4 .section4-conten .section4-conten-link .mappin h3 {
  font-size: 32px;
  font-weight: 500;
  padding: 0px 0 0 15px;
  letter-spacing: 3.2px;
}
.section4 .section4-conten .section4-conten-link .mappin p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  /* letter-spacing: 0px; */
  padding: 6px 0 0 18px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Built Titling";
  font-size: 16px;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1600px;
}/*# sourceMappingURL=index.css.map */