@import 'header.scss';
@import 'section1.scss';
@import 'section2.scss';
@import 'section3.scss';
@import 'section4.scss';
@import 'section5.scss';
@import 'section6.scss';
@import 'section7.scss';
@import 'section8.scss';
@import 'footer.scss';


* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Built Titling";
    font-size: 16px;
}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    min-width: 1600px;
}







@media screen and (min-width: 1650px) {
    
    header .header-menu .active::after {
        content: "";
        position: absolute;
        top: 84px;
        padding: 50;
        left: 0;
        margin-left: 107px;
        height: 4px;
        width: 150px;
        background: #E5E0F0;
    }

    .section2 {
        padding-left: 16.5%;
    }
}


