header {
  background-color: #7853A2;
  display: flex;
  align-items: center;
}
header .header-menu {
  display: flex;
  list-style: none;
}
header .header-menu .active {
  background-color: #9072b3;
}
header .header-menu .active::after {
  content: "";
  position: absolute;
  top: 84px;
  left: 6.38%;
  height: 4px;
  width: 161.73px;
  background: #E5E0F0;
}
header .header-menu .pricing {
  margin-left: -55px;
}
header .header-menu .header-menu-item {
  width: 366px;
  height: 132px;
}
header .header-menu .header-menu-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 2.7px;
  line-height: 18px;
  color: #E5E0F0;
  padding-bottom: 2px;
  width: -moz-fit-content;
  width: fit-content;
  margin: 55px auto 52px auto;
  padding-left: 4px;
}
header .button-header-hambuger {
  display: none;
}
header .header-logo {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin-right: 66px;
  margin-top: 8px;
}
header .header-logo .header-logo-icon {
  padding-right: 11px;
}
header .header-logo .header-logo-icon a i::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: #FFFFFF;
  top: 25px;
  left: 0px;
}
header a {
  margin: 0 16px;
}
header a i {
  color: #E5E0F0;
  position: relative;
}
header a img {
  padding-top: 4px;
  margin-right: -8px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body .wrapper {
    min-width: 100%;
  }
  body .wrapper header {
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  body .wrapper header .header-navbar .header-menu {
    display: none;
  }
  body .wrapper header .header-navbar button {
    display: block;
    position: absolute;
    right: 20px;
    top: 17px;
    font-size: 26px;
    color: #ffffff;
    background: #7853A2;
    border: none;
  }
  body .wrapper header .header-logo {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}
.section1 {
  display: flex;
  justify-content: space-around;
  background: #7853A2;
  height: auto;
  padding: 161px 90px 122px 80px;
  margin: 0 auto;
  position: relative;
  top: -1px;
}
.section1 .section1-conten {
  left: 8.5%;
  width: 50%;
  position: relative;
}
.section1 .section1-conten .section1-title {
  text-transform: uppercase;
  font-size: 54px;
  font-weight: 400;
  width: 214px;
  height: auto;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  letter-spacing: 5.7px;
  line-height: 64.66px;
}
.section1 .section1-conten .section1-describe {
  width: 313px;
  height: 142px;
  position: absolute;
  line-height: 28px;
  padding: 26px 32px 30.4px 46px;
  left: 185px;
  top: 168px;
  color: #ffffff;
  background-color: #BA4693;
  font-family: "Roboto Condensed", sans-serif;
}
.section1 .section1-conten .section1-bottom {
  position: absolute;
  display: flex;
  bottom: -3.9%;
  width: 100%;
  justify-content: space-between;
  left: -17.4%;
}
.section1 .section1-conten .section1-bottom a {
  color: #EA572A;
  text-decoration: none;
  border-bottom: #ffffff solid 2px;
  font-size: 30px;
}
.section1 .section1-conten .section1-bottom a span {
  color: #ffffff;
  font-size: 26px;
  letter-spacing: 3px;
}
.section1 .section1-conten .section1-bottom a .fa-angle-down {
  color: #ffffff;
}
.section1 .section1-img {
  position: relative;
  top: 12px;
  right: 1.2%;
}
.section1 .section1-conten::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -13px;
  left: -4%;
  height: 1061px;
  width: 2px;
  background: #E5E0F0;
}

@media screen and (max-width: 768px) {
  .section1 {
    flex-direction: column;
    height: 1005;
    padding: 140px 16px;
  }
  .section1 .section1-conten {
    position: initial;
    width: 100%;
  }
  .section1 .section1-conten .section1-title {
    text-align: center;
    height: auto;
    width: 100%;
  }
  .section1 .section1-conten .section1-describe {
    width: 80%;
    height: auto;
    position: initial;
    margin: 0 auto;
  }
  .section1 .section1-conten .section1-bottom {
    bottom: 20px;
    left: 0;
    width: 80%;
    padding-left: 10%;
  }
  .section1 .section1-img {
    left: 0;
  }
  .section1 .section1-img img {
    width: 100%;
  }
}
.section2 {
  display: flex;
  background: #3994D1;
  padding-top: -8px;
  margin-top: -2px;
  padding: 246px 0px 192px 248px;
}
.section2 .section2-conten {
  width: 50%;
}
.section2 .section2-conten h3 {
  font-size: 54px;
  font-weight: 500;
  width: 421px;
  color: #ffffff;
  letter-spacing: 5.3px;
}
.section2 .section2-conten p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  width: 445px;
  padding-top: 40.3px;
  line-height: 27px;
  color: #ffffff;
  margin-left: -2px;
}
.section2 .section2-conten .button-meet {
  border: none;
  font-family: "Built Titling";
  cursor: pointer;
  position: relative;
  width: 445px;
  height: 129px;
  background: #5DA7D9;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2.7px;
  font-size: 18px;
  margin-top: 110px;
  text-decoration: none;
}
.section2 .section2-conten .button-meet::after {
  content: "";
  width: 40%;
  height: 3px;
  position: absolute;
  right: auto;
  top: 86px;
  background-color: #ffffff;
}
.section2 .section2-list {
  display: flex;
  position: relative;
  top: 2px;
  gap: 30px;
  left: 40px;
}
.section2 .section2-list .list-item {
  width: 255px;
  height: 458px;
}
.section2 .section2-list .list-item .list-item-img {
  display: block;
  height: 241px;
}
.section2 .section2-list .list-item .list-item-img img {
  width: 100%;
  height: 100%;
}
.section2 .section2-list .list-item a {
  text-decoration: none;
  color: initial;
}
.section2 .section2-list .list-item .list-item-conten {
  position: relative;
  top: 0;
  background: #FFFFFF;
  margin-top: -2px;
  height: 220px;
}
.section2 .section2-list .list-item .list-item-conten p {
  font-size: 16px;
  font-weight: 400;
  padding: 32.1px 0px 0 32.2px;
  letter-spacing: 1.4px;
}
.section2 .section2-list .list-item .list-item-conten h3 {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 700;
  font-style: italic;
  padding: 41px 70px 36px 34px;
}
.section2 .section2-list .list-item .list-item-conten .list-item-conten-next {
  position: absolute;
  top: 86%;
  right: 6%;
  color: #FFFFFF;
  width: auto;
}
.section2 .section2-list .list-item-tow {
  width: 255px;
  height: 458px;
  background: #7853A2;
}
.section2 .section2-list .list-item-tow .list-item-img img {
  padding: 97px 0 0 21px;
}
.section2 .section2-list .list-item-tow .list-item-conten p {
  padding: 82px 0 0 30px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 1.6px;
}
.section2 .section2-list .list-item-tow .list-item-conten h3 {
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 2px;
  padding: 39px 100px 0 32px;
  color: #ffffff;
}
.section2 .section2-list .list-item-tow .list-item-conten .list-item-conten-next img {
  padding: 45px 0 0 220px;
}
.section2 .section2-list .list-item-three {
  background-color: #EA572A;
  width: 255px;
  height: 458px;
}
.section2 .section2-list .list-item-three .list-item-conten p {
  padding: 26px 0px 15px 31px;
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #ffffff;
}
.section2 .section2-list .list-item-three .list-item-conten h3 {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
  font-style: italic;
  letter-spacing: 2.2px;
  padding: 26px 30px 0px 30px;
}
.section2 .section2-list .list-item-three .list-item-img img {
  padding-top: 81px;
}

@media screen and (max-width: 768px) {
  .section2 {
    flex-direction: column;
    padding: 40px;
  }
  .section2 .section2-conten {
    width: 100%;
  }
  .section2 .section2-conten h3 {
    width: 100%;
    text-align: center;
    padding-top: 80px;
  }
  .section2 .section2-conten p {
    width: 100%;
    text-align: center;
  }
  .section2 .section2-conten .button-meet {
    width: 60%;
    margin: 60px auto;
  }
  .section2 .section2-list {
    flex-wrap: wrap;
    left: 0;
    justify-content: center;
    padding-bottom: 6rem;
  }
  .section2 .section2-list .list-item-tow .list-item-img img {
    width: 100%;
    padding: 0;
    padding-top: 134px;
  }
  .section2 .section2-list .list-item-three .list-item-img img {
    width: 100%;
    height: 241px;
  }
}
.section3 {
  background: #E6E1F0;
  height: 100%;
  padding: 38px 0 43px;
  position: relative;
}
.section3 .section3-container {
  background: #FFFFFF;
  display: flex;
  max-width: 1520px;
  margin: 0 auto;
}
.section3 .section3-container .section3-conten {
  width: 50%;
  padding-top: 207px;
  padding-left: 206.4px;
}
.section3 .section3-container .section3-conten .section3-conten-blog {
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 5px;
  margin-top: -3px;
}
.section3 .section3-container .section3-conten h3 {
  font-size: 53.88px;
  font-weight: 500;
  color: #7853A2;
  width: 204px;
  letter-spacing: 5.5px;
  padding: 70px 0 0 0px;
}
.section3 .section3-container .section3-conten .section3-conten-p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  width: 447px;
  line-height: 28px;
  margin: 17px 0 0 -1px;
}
.section3 .section3-container .section3-img img {
  width: 762px;
  height: 886px;
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  .section3 {
    padding: 16px;
  }
  .section3 .section3-container {
    width: 100%;
    flex-direction: column;
  }
  .section3 .section3-container .section3-conten {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .section3 .section3-container .section3-conten .section3-conten-blog {
    padding-top: 50px;
  }
  .section3 .section3-container .section3-conten h3 {
    width: 100%;
    padding-top: 20px;
  }
  .section3 .section3-container .section3-conten .section3-conten-p {
    width: 90%;
    padding-left: 5%;
  }
  .section3 .section3-container .section3-img img {
    width: 100%;
    padding-top: 10px;
  }
}
.section4 {
  position: relative;
}
.section4 .section4-img {
  position: relative;
}
.section4 .section4-img .section4-img-title {
  width: 100%;
  height: 100%;
}
.section4 .section4-img .section4-img-click {
  position: absolute;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  top: 480px;
  padding: 0 156px 0 89px;
}
.section4 .section4-conten {
  display: flex;
  background: #9277B5;
  color: #FFFFFF;
  position: relative;
  top: -62px;
  height: 275px;
}
.section4 .section4-conten .section4-conten-item {
  padding: 72px 208px 52px 245px;
  width: 28.7%;
}
.section4 .section4-conten .section4-conten-item div {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 2.4px;
  margin-top: -1px;
}
.section4 .section4-conten .section4-conten-item h3 {
  font-size: 53.88px;
  font-weight: 500;
  letter-spacing: 5.3px;
  padding-top: 5px;
}
.section4 .section4-conten .section4-conten-item p {
  font-size: 16px;
  width: 446.37px;
  letter-spacing: px;
  line-height: 27px;
  padding: 9px 0 0 0;
  font-family: "Roboto Condensed", sans-serif;
}
.section4 .section4-conten .section4-conten-link {
  display: flex;
  align-items: center;
}
.section4 .section4-conten .section4-conten-link .calendar {
  background: #7853A2;
  height: 100%;
  width: 257px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .section4-conten .section4-conten-link .calendar i {
  font-size: 87.28px;
  padding-top: 71px;
}
.section4 .section4-conten .section4-conten-link .calendar span {
  font-size: 32px;
  letter-spacing: 3px;
  padding-top: 26px;
}
.section4 .section4-conten .section4-conten-link .mappin {
  display: flex;
  margin-left: 49.3px;
  margin-top: 38px;
}
.section4 .section4-conten .section4-conten-link .mappin i {
  font-size: 32px;
}
.section4 .section4-conten .section4-conten-link .mappin h3 {
  font-size: 32px;
  font-weight: 500;
  padding: 0px 0 0 15px;
  letter-spacing: 3.2px;
}
.section4 .section4-conten .section4-conten-link .mappin p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  /* letter-spacing: 0px; */
  padding: 6px 0 0 18px;
}

@media screen and (max-width: 768px) {
  .section4 {
    position: relative;
  }
  .section4 .section4-img {
    position: relative;
    width: 100%;
  }
  .section4 .section4-img img {
    width: 100%;
    height: 100%;
  }
  .section4 .section4-img .section4-img-click {
    top: 40%;
    padding: 0;
    padding-left: 5%;
  }
  .section4 .section4-img .section4-img-click img {
    width: 40px;
  }
  .section4 .section4-conten {
    flex-direction: column;
    height: 100%;
  }
  .section4 .section4-conten .section4-conten-item {
    padding: 20px;
    width: 100%;
  }
  .section4 .section4-conten .section4-conten-item p {
    width: 90%;
  }
  .section4 .section4-conten .section4-conten-link .calendar {
    width: 50%;
  }
  .section4 .section4-conten .section4-conten-link .calendar i {
    padding-top: 15px;
  }
}
.section5 {
  display: flex;
  padding: 120px 152px 123px 246px;
}
.section5 .section5-conten {
  width: 50%;
}
.section5 .section5-conten h3 {
  font-size: 53.88px;
  font-weight: 500;
  letter-spacing: 5.6px;
  line-height: 66px;
  margin: 0px 0 0 -3px;
  color: #EA572A;
}
.section5 .section5-conten .section5-conten-p {
  font-size: 16px;
  width: 445.25px;
  line-height: 29px;
  margin: 40px 0 0 -2px;
  /* letter-spacing: 0px; */
  font-family: "Roboto Condensed", sans-serif;
}
.section5 .section5-conten ul {
  padding: 47px 0 0 0;
  list-style: none;
}
.section5 .section5-conten ul i {
  color: #EA572A;
}
.section5 .section5-conten ul .one {
  display: flex;
}
.section5 .section5-conten ul .one i {
  font-size: 32px;
}
.section5 .section5-conten ul .one div {
  padding-left: 32px;
  margin-top: -1px;
}
.section5 .section5-conten ul .one div span {
  font-size: 32px;
  letter-spacing: 3.1px;
}
.section5 .section5-conten ul .one div p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 2px 0 0 3px;
}
.section5 .section5-conten ul .tow {
  display: flex;
}
.section5 .section5-conten ul .tow i {
  font-size: 32px;
}
.section5 .section5-conten ul .tow div {
  padding: 4px 0 0 40px;
}
.section5 .section5-conten ul .tow div span {
  font-size: 32px;
  letter-spacing: 3.1px;
}
.section5 .section5-conten ul .tow div p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 2px 0 0 3px;
}
.section5 .section5-conten ul .three {
  display: flex;
}
.section5 .section5-conten ul .three i {
  font-size: 32px;
}
.section5 .section5-conten ul .three div {
  padding-left: 32px;
  margin-top: 5px;
}
.section5 .section5-conten ul .three div span {
  font-size: 32px;
  letter-spacing: 3.1px;
}
.section5 .section5-conten ul .three div p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 2px 0 0 3px;
}
.section5 .section5-conten ul .for {
  display: flex;
}
.section5 .section5-conten ul .for i {
  font-size: 32px;
}
.section5 .section5-conten ul .for div {
  padding-left: 28px;
  margin-top: 3px;
}
.section5 .section5-conten ul .for div span {
  font-size: 32px;
  letter-spacing: 3.1px;
}
.section5 .section5-conten ul .for div p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 2px 0 0 3px;
}
.section5 .section5-img {
  width: 55%;
  position: relative;
  top: 7px;
}
.section5 .section5-img img {
  width: 633px;
  height: 645px;
}

@media screen and (max-width: 768px) {
  .section5 {
    width: 100%;
    padding: 0;
    flex-direction: column;
  }
  .section5 .section5-conten {
    width: 100%;
  }
  .section5 .section5-conten h3 {
    text-align: center;
  }
  .section5 .section5-conten .section5-conten-p {
    width: 90%;
    padding-left: 5%;
    text-align: center;
  }
  .section5 .section5-conten ul {
    padding-left: 25%;
  }
  .section5 .section5-img {
    width: 100%;
    padding: 60px 0;
    padding-left: 9%;
  }
}
.section6 {
  position: relative;
}
.section6 .section6-conten {
  position: relative;
  background: #EA572A;
  width: 72.9%;
  margin-top: 11px;
  padding-bottom: 14.6%;
}
.section6 .section6-conten h3 {
  font-size: 96px;
  font-weight: 500;
  color: #ffffff;
  padding: 172px 0 0 244px;
  width: 336px;
  letter-spacing: 9.8px;
}
.section6 .section6-conten form {
  flex-direction: column;
  display: flex;
  margin-top: 39px;
  padding-left: 241px;
}
.section6 .section6-conten form input {
  width: 428px;
  height: 59px;
  font-size: 32px;
  font-family: "Built Titling";
  margin-bottom: 9px;
  /* margin: 8px 0; */
  /* padding-left: 18px; */
  padding: 7px 0 0 20px;
  /* margin-right: 1px; */
  letter-spacing: 3.2px;
  border: none;
  color: black;
}
.section6 .section6-conten form button {
  cursor: pointer;
  height: 59px;
  width: 240px;
  margin: 7px 0 0 -1px;
  font-size: 32px;
  padding: 3px 0 0 9px;
  letter-spacing: 3px;
  font-family: "Built Titling";
  /* line-height: 3px; */
  background: #414042;
  color: #ffffff;
  border: none;
}
.section6 .section6-conten .section6-img {
  position: absolute;
  right: -255px;
  top: 102px;
}
.section6 .section6-conten .section6-img img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .section6 {
    width: 100%;
  }
  .section6 .section6-conten {
    width: 100%;
    margin-top: 0;
    padding-bottom: 0;
  }
  .section6 .section6-conten h3 {
    width: 100%;
    padding: 0;
    padding-top: 40px;
    text-align: center;
  }
  .section6 .section6-conten form {
    padding-left: 0;
  }
  .section6 .section6-conten form input {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .section6 .section6-conten form button {
    width: 35%;
    margin: 0 auto;
  }
  .section6 .section6-conten .section6-img {
    position: initial;
    padding: 20px;
  }
}
.section7 {
  background-image: url("/img/Layer 17.png");
  height: 969px;
  background-size: cover;
  position: relative;
  margin-top: -6px;
  background-position-x: -7px;
}
.section7 .section7-container {
  color: #ffffff;
  padding: 158px 0 0 242px;
  width: 445px;
}
.section7 .section7-container .section7-container-conten {
  background: #414042;
  height: 301px;
  padding: 40px 0 0 45px;
}
.section7 .section7-container .section7-container-conten .expert {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  color: #EA572A;
  letter-spacing: 2.4px;
}
.section7 .section7-container .section7-container-conten h3 {
  font-size: 53.88px;
  font-weight: 500;
  letter-spacing: 5.3px;
}
.section7 .section7-container .section7-container-conten p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 21px;
  padding-right: 20px;
}
.section7 .section7-container .section7-container-conten img {
  margin-top: 23px;
}
.section7 .section7-container .section7-container-title {
  display: flex;
}
.section7 .section7-container .section7-container-title .section7-container-title-item {
  width: 253px;
  height: 338px;
  background: #3994D1;
}
.section7 .section7-container .section7-container-title .section7-container-title-item .staff {
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  padding: 32px 0 0 46px;
  letter-spacing: 2.4px;
}
.section7 .section7-container .section7-container-title .section7-container-title-item p {
  font-size: 32px;
  padding: 15px 0 0 45px;
  width: 157px;
  letter-spacing: 3.3px;
}
.section7 .section7-container .section7-container-title .section7-container-title-link {
  width: 193px;
}
.section7 .section7-container .section7-container-title .section7-container-title-link .bullhorn {
  height: 77.99px;
  font-size: 32px;
  background: #7853A2;
  padding: 33px 0 0 79px;
  cursor: pointer;
}
.section7 .section7-container .section7-container-title .section7-container-title-link .flask {
  height: 77.99px;
  font-size: 32px;
  background: #EA572A;
  padding: 33px 0 0 79px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .section7 {
    background-position: 50% 50%;
  }
  .section7 .section7-container {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    padding-top: 20%;
  }
  .section7 .section7-container .section7-container-title {
    width: 100%;
  }
  .section7 .section7-container .section7-container-title .section7-container-title-item {
    width: 50%;
  }
  .section7 .section7-container .section7-container-title .section7-container-title-item .staff {
    padding-left: 15%;
  }
  .section7 .section7-container .section7-container-title .section7-container-title-item p {
    width: 58%;
    padding-left: 14%;
  }
  .section7 .section7-container .section7-container-title .section7-container-title-link {
    width: 50%;
  }
  .section7 .section7-container .section7-container-title .section7-container-title-link .bullhorn {
    height: 50%;
    padding: 0;
  }
  .section7 .section7-container .section7-container-title .section7-container-title-link .flask {
    height: 50%;
    padding: 0;
  }
  .section7 .section7-container .section7-container-title .section7-container-title-link i {
    padding: 20% 45%;
  }
}
.section8 {
  height: 100%;
  background: #E6E1F0;
  position: relative;
  padding: 40px;
}
.section8 .section8-container {
  background-image: url("/img/Layer 20.png");
  height: 100%;
  background-position-y: -20px;
  background-position-x: -36PX;
  padding: 176px 0 141px 0px;
}
.section8 .section8-container .section8-conten {
  width: 919px;
  display: flex;
  position: relative;
  margin: 0 auto;
}
.section8 .section8-container .section8-conten .section8-conten-item {
  width: 431px;
  height: 572px;
  background: #7853A2;
  margin-left: 2px;
  color: #ffffff;
}
.section8 .section8-container .section8-conten .section8-conten-item h3 {
  font-size: 48px;
  font-weight: 500;
  padding: 33px 0 0 35px;
  letter-spacing: 4.7px;
}
.section8 .section8-container .section8-conten .section8-conten-item p {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 34px 0 0 33.5px;
  line-height: 27px;
}
.section8 .section8-container .section8-conten .section8-conten-item a {
  font-size: 32px;
  text-decoration: none;
  color: #ffffff;
  font-family: "Roboto Condensed", sans-serif;
}
.section8 .section8-container .section8-conten .section8-conten-item a i {
  padding: 42px 0 0 23px;
}
.section8 .section8-container .section8-conten .section8-conten-item ul {
  display: flex;
  list-style: none;
  padding: 47px 0 0 31px;
}
.section8 .section8-container .section8-conten .section8-conten-item ul li {
  margin-right: 20px;
}
.section8 .section8-container .section8-conten .section8-conten-item div {
  font-size: 32px;
  font-family: "Roboto Condensed", sans-serif;
  padding: 6px 0 0 9px;
}
.section8 .section8-container .section8-conten .section8-conten-item div a {
  text-decoration: none;
}
.section8 .section8-container .section8-conten .section8-conten-input {
  height: 507px;
  width: 482px;
  background: #414042;
  padding: 33.2px 33px 31.7px 36px;
  display: flex;
  flex-direction: column;
}
.section8 .section8-container .section8-conten .section8-conten-input h3 {
  font-size: 48px;
  font-weight: 500;
  line-height: 57.6px;
  color: #FFFFFF;
  margin-bottom: 38.3px;
  margin-left: -2px;
  letter-spacing: 4.8px;
}
.section8 .section8-container .section8-conten .section8-conten-input input {
  width: 466px;
  height: 60px;
  color: #FFFFFF;
  background-color: #58595B;
  border: none;
  margin-bottom: 22px;
  font-size: 32px;
  font-family: "Built Titling";
  padding: 1px 0 0 18px;
  letter-spacing: 3.8px;
}
.section8 .section8-container .section8-conten textarea {
  font-family: "Built Titling";
  height: 168px;
  font-size: 32px;
  padding: 3.8px 0 0 18.8px;
  letter-spacing: 3px;
  color: #FFFFFF;
  border: none;
  background-color: #58595B;
}
.section8 .section8-container .section8-conten button {
  font-family: "Built Titling";
  width: 240px;
  height: 59px;
  background: #EA572A;
  color: #FFFFFF;
  font-size: 32px;
  letter-spacing: 3px;
  margin: 14.7px 0 7.7px -1px;
  padding-left: 4px;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .section8 .section8-container {
    padding: 30px 0;
  }
  .section8 .section8-container .section8-conten {
    width: 90%;
    flex-direction: column;
  }
  .section8 .section8-container .section8-conten .section8-conten-item {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding-bottom: 30px;
  }
  .section8 .section8-container .section8-conten .section8-conten-item h3 {
    text-align: center;
    padding-left: 0;
  }
  .section8 .section8-container .section8-conten .section8-conten-item p {
    text-align: center;
    padding-left: 0;
  }
  .section8 .section8-container .section8-conten .section8-conten-item ul {
    flex-wrap: wrap;
  }
  .section8 .section8-container .section8-conten .section8-conten-input {
    width: 100%;
    padding: 0;
  }
  .section8 .section8-container .section8-conten .section8-conten-input h3 {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
  .section8 .section8-container .section8-conten .section8-conten-input input {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .section8 .section8-container .section8-conten .section8-conten-input textarea {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .section8 .section8-container .section8-conten .section8-conten-input button {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}
footer {
  padding: 130px 0 130px 244px;
  background: #414042;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -20px;
}
footer .footer-title {
  width: 100%;
}
footer .footer-title .title-item {
  display: flex;
}
footer .footer-title .title-item .title-item-link {
  border-bottom: 4px solid #FFFFFF;
  margin-right: 97px;
  list-style: none;
  font-size: 18px;
  padding: 30px 0 0 24px;
  letter-spacing: 2.8px;
  line-height: 38px;
  color: #ffffff;
}
footer .footer-title .title-item .link-one {
  padding: 30px 0 0 23px;
}
footer .footer-title .title-item .link-tow {
  padding: 30px 0 0 8px;
}
footer .footer-title .title-item .link-three {
  padding: 30px 0 0 0;
}
footer .footer-logo {
  width: 50%;
  height: 93px;
  position: relative;
  left: 0;
  top: 21px;
  background-color: #EA572A;
}
footer .footer-logo a {
  display: block;
  width: 179px;
  margin: 24px 0 30px 35px;
}
footer .footer-logo a img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 0;
  }
  footer .footer-title .title-item {
    flex-direction: column;
  }
  footer .footer-title .title-item .title-item-link {
    width: 18%;
    margin: auto;
  }
  footer .footer-title .title-item .link-one {
    width: 16%;
  }
  footer .footer-title .title-item .link-tow {
    width: 8%;
  }
  footer .footer-title .title-item .link-three {
    width: 7%;
  }
  footer .footer-logo {
    margin-bottom: 50px;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Built Titling";
  font-size: 16px;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  position: relative;
  min-width: 1600px;
}/*# sourceMappingURL=index.css.map */